<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zestfulYoghurt.zy.mappers.RolesMapper">

    <select id="select" parameterType="String"
            resultType="com.zestfulYoghurt.zy.pojos.basePojo.Role">

        select * from role

        <where>

            <if test="role_id != null and role_id.length > 0">

                <foreach collection="role_id" open=" and id in ( " close=")" item="item" separator=",">

                    #{item}

                </foreach>

            </if>

        </where>

    </select>

</mapper>